body{
    font-family: Arial, Helvetica, sans-serif; 
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.top-img{
    width:20%;

}
ul li{
    display: inline;
    list-style:none;
   
}
li a {
    text-decoration: none ;
    color:gray;
    font-size:18px;
    margin :5px  36px   47px    9px;;
    
}
li a:hover{
    text-decoration: underline;
    color: black;
}
.top-button{
    width:95%;
    float:  right !important;
    background-color:#FED7DA;
    border: solid #FED7DA;
    border-radius: 9999px;
    color: #5243C0;
}



.row{
    display: flex;
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240);
    border-radius: 15px;
    margin: 3px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    

}
.row:hover{
    background-color: white;
}
.section-continer{
    display: flex;
    flex-direction: column;
}
.row img{
    object-fit: contain;
}
main{
    display: flex;
    flex-direction: row-reverse;
    padding: 100px;
}
.new-account{
 display: flex;
 
}
.new-account-btn{
    width: 100px;
    height: 45px;
    background-color: #5243C0;
    border: solid #5243C0;
    border-radius: 9999px;
    color:white;
}
h1{
    font-size: 70px;
}
.contain-body-p{
    font-size: 20px;
}
.btn1{
    background-color: #FED7DA;
    border:#FED7DA ;
}
.btn2{
    background-color: #FD6534;
    border: #FD6534;
}
.btn3{
    background-color: #9ED095;
    border: #9ED095;
}
.btn4{
    background-color: #FFE4A0;
    border: #FFE4A0;
}
section img{
    padding: 15px;
}
section p{
    padding-left: 25px;
    padding-right: 25px;
}
section button{
    padding: 15px;
    border-radius: 50px;
    width: 1px;
    display: flex;
    transform: rotate(90deg);
    
    
    
}
